[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[dn]
C=CO
ST=Bogota
L=Bogota
O=Mis comanditos
CN=sitiolinux

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = sitiolinux.miscomanditos.loc
